
/* 웹 폰트 로드 */
@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Diphylleia-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/Diphylleia-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 폰트 적용 */
body {
  font-family: 'GowunDodum-Regular', Arial, sans-serif;
  margin-left: 15%;
  margin-right: 15%;
}

/* 오디오 컨테이너 스타일 */
.audio-container {
  width: 200px;
  height: 28px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-top: 50px;
}

/* 제목과 버튼 정렬 */
.audio-text {
  margin-left: 15px;
  font-size: 14px;
  font-weight: regular;
  flex-grow: 1;
  text-align: left;
}

.custom-play-button {
  display: flex;
  align-items: center;  /* 세로 중앙 정렬 */
  background-color: transparent;
  border: none;
  padding: 0; /* 패딩 제거 */
  color: #000000;
  cursor: pointer;
  margin-right: 5px; /* 오른쪽에 위치 */
  font-size: 6px; /* 글자 크기 조정 */
}

.custom-play-button img {
  display: block;
  width: 22px;  /* 가로 크기 */
  height: 22px; /* 세로 크기 */
  margin: 0 auto;  /* 이미지 중앙 정렬 */
}

.custom-play-button span {
  font-size: 20px;
}

.custom-play-button.playing span {
  width: 8px;
  height: 8px;
}

/* 말풍선 스타일 */
.speech-bubble {
  display: flex;
  margin-top: 10px;
  align-items: center;
  max-width: 100%;
  opacity: 1;
  overflow: hidden;
  height: auto; /* 초기 높이 */
}

.hidden {
  opacity: 0;
  height: 0;
  transition: opacity 2s ease, height 2s ease;
}

/* 프로필과 말풍선 컨테이너 */
.profile-and-bubble {
  display: none;
  align-items: center; /* 수직 정렬 */
  gap: 10px; /* 프로필 이미지와 말풍선 사이 간격 */
  transition: opacity 2s ease-out, height 2s ease-out;
}

/* 프로필 이미지 스타일 */
.profile-img {
  display: flex;
  margin-top: 10px;
  width: 40px;  /* 원하는 크기로 설정 */
  height: 40px;  /* 원하는 크기로 설정 */
  border-radius: 50%;  /* 원형으로 만들기 */
  object-fit: cover;  /* 이미지가 잘리지 않게 중앙에 맞춰서 크기 조절 */
  overflow: hidden;  /* 이미지가 원형 영역을 벗어나지 않도록 숨김 */
  background-color: #f1f1f1; /* 배경 색상, 필요에 따라 조정 */
}

.speech-text {
    display: block;
    opacity: 1;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 2px 50% 50% 50%;
    max-width: 80%;
    font-size: 14px;
    line-height: 1.5;
}
