
/* 웹 폰트 로드 */
@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Diphylleia-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/Diphylleia-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 폰트 적용 */
body {
  font-family: 'GowunDodum-Regular', Arial, sans-serif;
  margin-left: 15%;
  margin-right: 15%;
}

/* 오디오 컨테이너 스타일 */
.audio-container {
  width: 280px;
  height: 28px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 10px;
}

/* 제목과 버튼 정렬 */
.audio-text {
  margin-left: 25px;
  font-size: 14px;
  font-weight: regular;
  flex-grow: 1;
  text-align: left;
}

.custom-play-button {
  background-color: transparent;
  border: none;
  padding: 0; /* 패딩 제거 */
  color: #000000;
  cursor: pointer;
  font-size: 6px; /* 글자 크기 조정 */
}

.custom-play-button img {
  width: 24px;
  height: 24px;
}

.custom-play-button span {
  font-size: 20px;
}

.custom-play-button.playing span {
  width: 8px;
  height: 8px;
}


.speech-bubble {
    display: none;
    margin-top: 10px;
    display: flex;
    align-items: center;
    max-width: 80%;
    transition: opacity 2s ease-out; /* 2초 동안 서서히 사라지는 효과 */
    opacity: 1; /* 기본 투명도 */
}

.hidden {
  opacity: 0; /* 숨길 때 투명도 */
}

.speech-text {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 15px;
    max-width: 80%;
    font-size: 14px;
    line-height: 1.5;
}
