
/* 웹 폰트 로드 */
@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Diphylleia-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/Diphylleia-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 폰트 적용 */
body {
  font-family: 'GowunDodum-Regular', Arial, sans-serif;
}

}

/* iframe 내의 구글 드라이브 재생 버튼 숨기기 */
iframe {
  position: relative;
  width: 100%;  /* 원하는 크기로 설정 */
  height: 100%;
}

iframe::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  visibility: hidden;  /* iframe 내 버튼 숨기기 */
}

/* 재생 버튼을 오른쪽에 정렬 */
.audio-container {
  display: flex;
  justify-content: flex-end;  /* 오른쪽 정렬 */
  align-items: center;
  position: relative;
}

.custom-play-button {
  margin-right: 10px; /* 오른쪽에 위치 */
  padding: 10px 20px;
  background-color: #ff9900; /* 원하는 색상 */
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.custom-play-button span {
  font-size: 20px;
}

.custom-play-button.playing span {
  width: 8px;
  height: 8px;
}


.audio-text {
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}

audio {
    border-radius: 10px;
    width: 100px;
}

.speech-bubble {
    display: none;
    margin-top: 10px;
    display: flex;
    align-items: center;
    max-width: 250px;
}

.profile-img {
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 50%;
    margin-right: 10px;
}

.speech-text {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 15px;
    max-width: 220px;
    font-size: 14px;
    line-height: 1.5;
}
